# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------
.lock

# Editors
# ---------------
*.sublime-project
*.sublime-workspace
/.vscode
/.idea

# Content
# ---------------
/content/*
!/content/impressum
!/content/default-header-image.jpg
!/content/default-header-image.jpg.txt

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

# Logging
# ---------------
error_log
access_log

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
