/* fonts.css - All fonts for js-buchsi.ch */
@charset "UTF-8";

/* Rubik */
/* https://www.fontsquirrel.com/fonts/rubik?q%5Bterm%5D=rubik&q%5Bsearch_check%5D=Y */
@font-face {
    font-family: 'rubik';
    src: url('rubik-regular-webfont.woff2') format('woff2'),
         url('rubik-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('rubik-italic-webfont.woff2') format('woff2'),
         url('rubik-italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'rubik';
    src: url('rubik-bold-webfont.woff2') format('woff2'),
         url('rubik-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'rubik';
    src: url('rubik-bolditalic-webfont.woff2') format('woff2'),
         url('rubik-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/* Conformity */
/* https://www.1001fonts.com/conformity-font.html#more */
@font-face {
    font-family: 'conformity';
    src: url('conformity-webfont.woff2') format('woff2'),
         url('conformity-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
