/*-----------------------------------------------------------------------------------*/
/*  Section Events
/*-----------------------------------------------------------------------------------*/
section .events {
  padding: 3rem 0;
  background-color: #D0BA95;
}

.event {
  background-color: #ffffff;
}
