/* index.css - The CSS with the default styling for the entire sire */

/* Import a css files that defines all fonts */
@import url(../fonts/fonts.css);


/*-----------------------------------------------------------------------------------*/
/*  CSS Reset
/*-----------------------------------------------------------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'rubik', sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/*-----------------------------------------------------------------------------------*/
/*  General Stuff
/*-----------------------------------------------------------------------------------*/

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: conformity, rubik, arial, sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
/*-----------------------------------------------------------------------------------*/
/*  Header Styling
/*-----------------------------------------------------------------------------------*/

header {
  background-color: #0E1530;
}

header .logo svg {
  fill: #ffffff;
  max-width: 100px;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


/*-----------------------------------------------------------------------------------*/
/*  Navigation
/*-----------------------------------------------------------------------------------*/

nav {
	margin: 20px 0;
	background-color: transparent;
  padding-left: 3rem;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	background-color: #0E1530;
	}

nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:28px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	color: #D0BA95;
}

nav ul ul li a {
  font-size: 20px;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px;
}


/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

footer {
  padding: 3rem 0;
  background-color: #244538;
  color: whitesmoke;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Content Styling
/*-----------------------------------------------------------------------------------*/
main {
  padding: 3rem 0;
  background-color: #D0BA95;
}
