/*-----------------------------------------------------------------------------------*/
/*  Section Events
/*-----------------------------------------------------------------------------------*/
.events {
  /* padding: 3rem 0; */
}

.event {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #244538;
  list-style: none;
}

.event.special {
  /* only for special events */
}

.event-header {
  position: relative;
  padding-right: 3rem;
}

.event-header h3 {
  font-size: 1.65rem;
  line-height: 1.2emLeadtext;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.event-header.special {
  cursor: pointer;
}

.event-header.special:before,
.event-header.special:after {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  width: 24px;
  height: 2px;
  background-color: #244538;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.event-header.special:after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.show .event-header.special:after {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.event-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.show .event-body{
  height: auto;
  max-height: 900px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}