/*-----------------------------------------------------------------------------------*/
/*  Section Events
/*-----------------------------------------------------------------------------------*/
.events {
  padding: 3rem 0;
  background-color: #ffcc00;
}

.event {
  background-color: #ffccff;
  margin-bottom: 5px;
}

.special {
  background-color: #ccffff;
}

.event-location {
  background-color: #83aba9;
}
